* {
  color: red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-grid {
  width: 300px;
  height: 300px;
  border: solid black 2px;
  display: flex;
  flex-wrap: wrap;
}

#game-grid div {
  width: 30px;
  height: 30px;
}

.math-rocket {
  background-color: aquamarine;
  border-radius: 20%;
}

.bomb {
  background-color: grey;
  border-radius: 50%;
}

.right-exit,
.left-exit,
.up-exit,
.down-exit {
  background-color: lightcoral;
  /* border-right: solid white 2px;
  float: right; */
}
